<section class="footer-1 text-center">
  <div class="container-fluid">
    <a class="back-to-top smooth-scroll" href="#home"><i class="fa fa-chevron-up"></i></a>
    <p>Made with <i class="fa fa-heart color-text"></i> by <a href="http://demo.angelostudio.net">ANGELO Studio</a>.</p>
    <ul class="social-links-2">
      <li>
        <a href="https://twitter.com/angelo_studio"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="http://dribbble.com/angelo_studio"><i class="fa fa-dribbble"></i></a>
      </li>
      <li>
        <a href="https://vimeo.com/user10293733"><i class="fa fa-twitter"></i></a>
      </li>
    </ul>
  </div>
</section>

<!-- Core scrips -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
<script type="text/javascript" src="js/core.js"></script>
<script type="text/javascript" src="js/menu-overlay.js"></script>
<script type="text/javascript" src="js/placeholders.min.js"></script>
<!-- end core scripts -->

<!-- sliders -->
<script type="text/javascript" src="js/owl.carousel.min.js"></script>
<script type="text/javascript" src="js/jquery.waitforimages.min.js"></script>
<script type="text/javascript" src="js/sliders.js"></script>
<script type="text/javascript" src="js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="js/numbers.js"></script>
<script type="text/javascript" src="js/contact.js"></script>