<a id="menu-link" href="#" class="">
	<span class="menu-icon"></span>
</a>

<div class="overlay" id="overlay">
  <nav class="overlay-menu">
    <ul>
      <li><a href="#home" class="smooth-scroll">Home</a></li>
	  <li><a href="#features" class="smooth-scroll">Background</a></li>
      <li><a href="#showcase" class="smooth-scroll">Showcase</a></li>
	  <li><a href="#body2" class="smooth-scroll">More Info</a></li>
      <li><a href="#contact" class="smooth-scroll">Contact</a></li>
    </ul>
  </nav>
</div>