<head>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta charset="utf-8">
 

  <!-- core styles -->
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="css/core.css">
  <link rel="stylesheet" href="css/menu-overlay.css">
  <link rel="stylesheet" href="css/colors.css">
  <link rel="stylesheet" href="css/anima.css">

  <!-- end core styles -->
  <link rel="stylesheet" href="css/owl.carousel.css">
  <link rel="stylesheet" href="css/sliders.css">
  <link rel="stylesheet" href="css/modal.css">
  <link rel="stylesheet" href="css/cta.css">
  <link rel="stylesheet" href="css/numbers.css">
  <link rel="stylesheet" href="css/features.css">
  <link rel="stylesheet" href="css/forms.css">
  <link rel="stylesheet" href="css/contents.css">
  <link rel="stylesheet" href="css/socials.css">
  <link rel="stylesheet" href="css/footer.css">

 
  <script type="text/javascript" src="js/modernizr.min.js"></script>
<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>