  </section>
  <section class="features-1" id="features">
    <div class="container padding-top-bottom">
      <div class="row header">
        <div class="col-md-12">
         </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller1.jpg">
              <h3>​Educator</h3>
              <p>Bacon ipsum dolor amet ribeye bresaola spare ribs doner</p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller2.jpg">
              <h3>​Performer</h3>
              <p>Sausage short ribs beef pastrami, swine frankfurter cupim venison cow hamburger ground round porchetta rump.</p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller3.jpg">
              <h3>Composer</h3>
              <p>Sirloin pork kevin porchetta ribeye hamburger tail meatball beef venison.</p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>