  </section>
  <section class="features-1" id="features">
    <div class="container padding-top-bottom">
      <div class="row header">
        <div class="col-md-12">
         </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller1.jpg">
              <h3>​Educator</h3>
              <p>As an educator, I want to evolve my methods to more effectively communicate ideas and concepts to my students. </p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller2.jpg">
              <h3>​Performer</h3>
              <p>I look to be the best bassist possible and to make quality music in multiple styles with the best players available.</p>
            </article>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
            <article class="text-center">
              <img alt="#" class="zoom-img img-responsive center-block" src="img/scroller3.jpg">
              <h3>Composer</h3>
              <p> My view of composition is broadened to include writing new music and 
arrangements as well as music technology such as applications to promote an overarching brand that can interface more effectively with society and culture. </p>
            </article>
          </div>
        </div>
      </div>
    </div>
  </section>