<section id="hero2" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Some More Info Here!!</h1>
    <p>Bacon ipsum dolor amet kielbasa pork turducken ham. Turducken rump turkey cupim tenderloin. Landjaeger pancetta drumstick prosciutto meatball venison hamburger tenderloin ham hock capicola shankle ham cow pork belly. Sirloin sausage pork pork chop spare ribs bacon kevin landjaeger cow tenderloin doner t-bone drumstick. Hamburger beef ribs doner jerky venison, shoulder shank. Pork belly rump t-bone pork pork loin ribeye prosciutto meatball chicken cow short loin biltong tongue. Spare ribs capicola tri-tip bacon, kielbasa swine jerky ground round pork loin ribeye andouille ham.</p>
    </div>
  </div>
</section>