<section class="features-1" id="features">
  <div class="container padding-top-bottom">
    <div class="row header">
      <div class="col-md-12"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/headshot1.jpeg">
            <h3 class="editable">​Performer</h3>
            <p class="editable">You need to take risks, you never know if the end results will be beautiful or strange. You need to be instantaneous, listening to every moment without missing a scrap of the music&#8230; even if you play a rest! –Brian Blade</p>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/educator.jpg">
            <h3 class="editable">​Educator</h3>
            <p class="editable"> The advice I am giving always to all my students is above all: to study music profoundly… music is like the ocean and the instruments are little or bigger islands, very beautiful for the flowers and trees -Andrés Segovia</p>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/collaborator.jpeg">
            <h3 class="editable">Collaborator</h3>
            <p class="editable">When the world becomes a massive mess with nobody at the helm, it’s time for artists to make their mark. -Joni Mitchell
</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>