<section class="features-1" id="features">
  <div class="container padding-top-bottom">
    <div class="row header">
      <div class="col-md-12"></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/headshot1.jpeg">
            <h3 class="editable">​Performer</h3>
            <p class="editable">I look to be the best bassist possible and to make quality music in multiple styles with the best players available.</p>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d1">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/educator.jpg">
            <h3 class="editable">​Educator</h3>
            <p class="editable">As an educator, I want to evolve my methods to more effectively communicate ideas and concepts to my students.</p>
          </article>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 anima scale-in d2">
          <article class="text-center">
            <img alt="#" class="zoom-img img-responsive center-block" src="img/collaborator.jpeg">
            <h3 class="editable">Collaborator</h3>
            <p class="editable">***NEEDS REWRITE***</p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>