<section class="hero" id="collaborator">
  <div class="container-fluid">
	<br>
  	{% for video in site.videos %}
      {% if video.tags contains "collaborator" %}
		 {% capture content_location %}{% cycle 'video-left', 'video-right' %}{% endcapture %}
		 
  	     <div class="row">
      	   <div class="col-sm-6">
			  {% if content_location == 'video-left' %}
				{% include collaborator/video_content.html video=video %}
			  {% else %}
				{% include collaborator/text_content.html video=video %}
			  {% endif %}
      	   </div>

          <div class="col-sm-6">
			  {% if content_location == 'video-left' %}
				{% include collaborator/text_content.html video=video %}
			  {% else %}
				{% include collaborator/video_content.html video=video %}
			  {% endif %}
          </div>
      </div>
    {% endif %}
  {% endfor %}
	</div>
</section>
