<section class="hero" id="collaborator">
  <div class="inner">
    <div class="copy3">
      <h1>Collaborator</h1><br>
	<iframe width="420" height="315"
	src="https://www.youtube.com/embed/-xRUWy-A5_0">
	</iframe>
<p align="center"> In Athens, Ohio I was fortunate enough to encounter a saxophonist by the name of Matt James. Not only did we share a friendship over our mutual love of music, education, and quality beverages, but we were fortunate enough to perform and record together. Matt James released his debut album Opening Lines in 2014 with personnel including: Matt James, Sean Parsons, Guy Remonko, Steven Heffner, Terry Douds, and Rob Parton.
<a href="http://www.cdbaby.com/cd/mattjames32">[Matt James - Opening Lines] </a>
	</p>
	<iframe width="420" height="315"
	src="https://www.youtube.com/embed/t2nRIlmhZWw">
	</iframe>
	<p> Olivia Brownlee is one of the most musical souls I’ve encountered and I count myself lucky to have known her since 2001. It didn’t take long for us to find each other intersecting at various musical outlets in Washington State and it was only fitting that over a decade later we would have a last minute rendezvous at a recording studio and put together a song that expressed a little bit of her home in Boston, MA.
<a href=http://oliviabrownlee.com/2015/05/21/headin-right-in-to-brighton/)>Read more Headin’ Right In to Brighton</a> <br>
<a href=https://soundcloud.com/olivia-brownlee/8-headin-right-in-to-brighton>Listen to Headin' Right In to Brighton on SoundCloud</a>
</p>
</div>
</div>
</section>

