<!-- <div id="wrap">
  <section class="m-center text-center bg-shop full-height" id="hero">
    <div class="center-box">
      <div class="container-fluid"
          <div class="col-sm-12">
            <div class="hero-unit">
			  <h1 class="title"><b>Steven Heffner</b> Bassist</h1>
              <h3><b>Educator / Performer / Composer</b></h3>
              <p><br>
        <div class="col-md-12">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <p class="editable">I am an educator and performer with experience in arranging and composing. Versatility is key to my success and it is paramount to my philosophy of education. Through emphasizing collaboration with other disciplines, promoting musical entrepreneurship, and encouraging multi-genre musical experiences, I give my students the best possible preparation for their musical goals. As an artist, I work to provide examples of transcendent musical moments to captivate and inspire the motivations of my students as well as to fulfill my own artistic aims.</p>
        </div>
      </div>
    </div>
-->
	
	<section id="hero1" class="hero">
	  <div class="inner">
	    <div class="copy">
            <div class="hero-unit">
			  <h1 class="title"><b>Steven Heffner</b> Bassist</h1>
              <h3><b>Educator / Performer / Composer</b></h3>
	    </div>
      <div class="col-md-8 col-md-offset-2">
        <p class="editable">I am an educator and performer with experience in arranging and composing. Versatility is key to my success and it is paramount to my philosophy of education. Through emphasizing collaboration with other disciplines, promoting musical entrepreneurship, and encouraging multi-genre musical experiences, I give my students the best possible preparation for their musical goals. As an artist, I work to provide examples of transcendent musical moments to captivate and inspire the motivations of my students as well as to fulfill my own artistic aims.</p>
      </div>
	  </div>
	</section>

	

<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Noto+Sans' rel='stylesheet' type='text/css'>