  <section class="numbers-1 padding-top-bottom text-center" id="facts">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2 class="counter">367</h2>
            <h4>Purchases</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2><span class="counter">99.1</span> <span>%</span></h2>
            <h4>User Ratings</h4>
          </div>
        </div>
        <div class="col-md-4 col-sm-4">
          <div class="numbers-item">
            <h2><span class="counter">17</span> <span>k</span></h2>
            <h4>Followers</h4>
          </div>
        </div>
      </div>
    </div>
  </section>
  