<section class="" id="performer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 slider">
        <div class="owl-carousel embed-responsive" id="performance-videos">
          {% for video in site.videos %}
            {% if video.tags contains "performer" %}
              <div class="item-video embed-responsive-item" data-description="{{video.content | xml_escape}}"><a class="owl-video" href="{{video.link}}"></a></div>
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-sm-6 bg-shop" style="height:500px;">
        <div class="half-box-right">
          <div class="center-vertical">
            <div id="performer-video-description"class="center-vertical-box">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>