<section class="" id="showcase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 slider">
        <div class="owl-carousel" data-autoplay="4000" data-dots="true" data-navigation="false" data-transition="" id="as-slider">
        </div>
      </div>
      <div class="col-sm-6 bg-shop" style="height:500px;">
        <div class="half-box-right">
          <div class="center-vertical">
            <div class="center-vertical-box">
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>