  <section class="cta-1 bg-dark padding-top-bottom text-center white-text">
    <div class="container-fluid anima scale-in">
      <div class="row">
        <div class="col-sm-12">
          <span>​Do you like PAPER CUP - Mockup?</span> <a class="btn" data-target="#product-modal" data-toggle="modal" href="#"><b>$5</b> Buy now</a>
        </div>
      </div>
    </div>
  </section>
  <section class="content-1 bg-image-2 padding-top-bottom bg-shop" id="news">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-6">
          <div class="white-box">
            <h2><b>NICE Product :)</b></h2>
            <p>Scelerisque pulvinar praesent ultrices, amet condimentum wisi felis et. At lobortis risus ipsum praesent urna. Metus lectus duis porttitor. Tellus debitis suspendisse feugiat, non tellus in sed luctus lacus rutrum, iaculis at risus cras vel sit, qui morbi lacus, ultricies semper. Odio ac, diam donec. Tincidunt cursus vel nulla tincidunt, vitae ut tempor ut orci tortor mi</p>
            <blockquote class="blockquote-reverse">
              <p>Jessica Red</p>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </section>