<section class="" id="showcase">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 slider">
        <div class="owl-carousel" data-autoplay="4000" data-dots="true" data-navigation="false" data-transition="" id="as-slider">
          <div class="item m-center" style="background-image: url(img/headshot.png);"></div>
          <div class="item m-center" style="background-image: url(img/scroller1.jpg);"></div>
          <div class="item m-center" style="background-image: url(img/scroller2.jpg);"></div>
          <div class="item m-center" style="background-image: url(img/scroller3.jpg);"></div>
        </div>
      </div>
      <div class="col-sm-6 bg-shop" style="height:500px;">
        <div class="half-box-right">
          <div class="center-vertical">
            <div class="center-vertical-box">
              <h1><b>Lorem Ipsum</b></h1>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>