  </section><!-- end vertical center / slider -->
  <section class="padding-top-bottom bg-clouds text-center" id="requirements">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>Requirements</h2>
          <p>Adobe Photoshop CS4+</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2"><img alt="#" class="img-responsive center-block" height="200" src="img/ps.png" width="200"></div>
      </div>
    </div>